<nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <button (click)="selectCategory('')" class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">All Categories</button>
      <button (click)="selectCategory('Category 1')" class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Category 1</button>
      <button (click)="selectCategory('Category 2')" class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Category 2</button>
      <button (click)="selectCategory('Category 3')" class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Category 3</button>
      <button (click)="selectCategory('Category 4')" class="btn btn-outline-success my-2 my-sm-0 mr-4" type="submit">Category 4</button>
</nav>